#topbar{
    position: sticky;
	background: rgb(184, 28, 28)!important;
	font-size: 15px;
	height: 40px;
	padding: 0;
	color: rgba(24, 22, 22, 0.6);
	/*transform: translate(0, -200px);*/
}

#topbar .contact-info a {
	line-height: 0;
	color: rgba(255, 255, 255, 0.6);
	transition: 0.3s;
}

#topbar .contact-info a:hover {
	color: #fff;
}

#topbar .contact-info i {
	color: #cc1616;
	line-height: 0;
	margin-right: 5px;
}

#topbar .contact-info .phone-icon {
	margin-left: 15px;
}

#topbar .social-links a {
	color: rgba(255, 255, 255, 0.6);
	padding: 4px 12px;
	display: inline-block;
	line-height: 1px;
	transition: 0.3s;
}

#topbar .social-links a:hover {
	color: #fff;

}

.homepage-slider::before{
    display: block;
    content: '';
    height: 40px;
}

body{
    position:relative;
}

.product-boxx{
    height:100%;
}


.logo:hover{
    transform:scale(2,2);
}

#section{
    display: inline-block;
  margin: 0 0.5rem;

  animation: tada; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}


.card{
    height:auto;
    opacity:.8;
}
.card:hover{
    opacity:2;
    transform:scale(1.1,1.1);
    transition:1.0s ease all;
    background:  #00008b;
    box-shadow: 0 8px 6px -6px black;
    cursor: pointer;
}

.card:hover .card-title{
    color:#cc1616;
}
.nav-item{
    font-size: 20px;
}

.nav-item:hover {
    transform:scale(1.2,1.2);
    transition:0.9s;
    text-decoration-line: underline;
    text-decoration-color: #cc1616;
}


.call{
    display:none;
}

.call-btn:hover +.call{
    display:block;
}

/*
.navbar{
    background: transparent;
    
            left: 0;
            background-image: linear-gradient(#0e053d, #000);
            width: 100%;
            
            padding: 1.5rem;
            border-radius: 0 0 1rem 1rem;
            transition: .5s;
}

*/

/*media queries*/

@media screen and (max-width:576px){
    .phone{
        display: none;
    }

    .help{
        display: none;
    }
	
	
}
.carousel-caption{
	display:block
}

@media screen and (max-width:576px){
	.carousel-caption{
		display: block;
	}
}
