body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#topbar {
    position: sticky;
    background: rgb(184, 28, 28) !important;
    font-size: 15px;
    height: 40px;
    padding: 0;
    color: rgba(24, 22, 22, 0.6);
    /*transform: translate(0, -200px);*/
}

#topbar .contact-info a {
    line-height: 0;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #fff;
}

#topbar .contact-info i {
    color: #cc1616;
    line-height: 0;
    margin-right: 5px;
}

#topbar .contact-info .phone-icon {
    margin-left: 15px;
}

#topbar .social-links a {
    color: rgba(255, 255, 255, 0.6);
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: #fff;
}
.logo img {
    width: 2.5rem; /* 40px */
    height: auto;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}
.logo-text {
    display: inline-block;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-left: 4px;
}

.homepage-slider::before {
    display: block;
    content: "";
    height: 40px;
}

.product-boxx {
    height: 100%;
}

#section {
    display: inline-block;
    margin: 0 0.5rem;

    animation: tada; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}

#carouselExampleFade img {
    border-radius: 4px;
}
#carouselExampleFade .carousel-item:not(:nth-child(3)) {
    backdrop-filter: blur(10px);
}

.btn {
    font-weight: 500;
    font-size: 1rem;
}
.card {
    height: auto;
    opacity: 0.8;
}
.card:hover {
    opacity: 2;
    transform: scale(1.1, 1.1);
    transition: 1s ease all;
    background: #00008b;
    /* box-shadow: 0 8px 6px -6px black; */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.card:hover .card-title {
    color: #cc1616;
}
.nav-item {
    font-size: 1.125rem; /* 18px */
    font-weight: 500;
}

.nav-item:hover {
    transform: scale(1.1);
    transition: 0.9s;
    text-decoration-line: underline;
    text-decoration-color: #cc1616;
}

.call {
    display: none;
}

.call-btn:hover + .call {
    display: block;
}

/*
.navbar{
    background: transparent;
    
            left: 0;
            background-image: linear-gradient(#0e053d, #000);
            width: 100%;
            
            padding: 1.5rem;
            border-radius: 0 0 1rem 1rem;
            transition: .5s;
}

*/

/*media queries*/

@media screen and (max-width: 576px) {
    .phone {
        display: none;
    }

    .help {
        display: none;
    }
}

.center-vertically {
    display: inline-flex;
    align-items: center;
}
.font-size-sm {
    font-size: 0.875rem; /* 14px */
}
.font-size-base {
    font-size: 1rem; /* 16px */
}
.font-size-lg {
    font-size: 1.125rem; /* 18px */
}
.font-size-xl {
    font-size: 1.25rem; /* 20px */
}
.font-size-2xl {
    font-size: 1.375rem; /* 22px */
}
